body {
  background-color: #000;
}

.wrapper {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5% 0 5%;
  background-color: black;
  width: 90%;
}

.logo {
  display: flex;
  align-items: center;
  font-family: Shrikhand, cursive;
  color: #eee;
}

#header-img {
  width: 4em;
  height: 4em;
  margin-right: 5px;
}

#title {
  font-size: 1.5em;
}

#nav-list {
  display: flex;
}

#header-list {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Shrikhand, cursive;
  font-size: 1.2em;
}

.nav-link {
  text-decoration: none;
  color: #eee;
}

.nav-link:hover {
  color: #dbe;
  font-size: 1.2em;
}

.separator {
  width: 100%;
  margin-bottom: 10%;
}

.separate {
  width: 100%;
  margin-bottom: 5%;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 10% 5% 10%;
  background-color: #000;
  border: 2px solid #444;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 3px rgba(255,120,255,0.5), -5px -5px 10px 3px rgba(255,120,255,0.5);
}

.story-time-text {
  margin: 5% 20% 2% 20%;
  font-family: Ubuntu;
  font-size: 1.2em;
  text-align: center;
  color: #eee;
}

iframe {
  margin-top: 50px;
}

#flights {
  display: flex;
  margin: 0 5% 5% 5%;
  flex-direction: column;
}

.flight-products-header {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-family: Shrikhand;
  margin: 5%;
}

.flight-text {
  font-family: Ubuntu;
  text-align: center;
}

.list-text {
  font-family: Ubuntu;
}

#flight-grid {
  display: flex;
}

#flight1 {
  width: 60%;
  height: 130%;
  background-color: #dbe;
  margin: 13% 30px 0 0;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 10%;
}

#flight2 {
  width: 60%;
  height: 130%;
  background-color: #dbe;
  margin: 5% 0 0 30px;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 10%;
}

#products {
  display: flex;
  margin: 0 5% 5% 5%;
  flex-direction: column;
}

#products-grid {
  display: flex;
}

#armory {
  width: 60%;
  height: 130%;
  background-color: #dbe;
  margin: 13% 30px 0 0;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 5%;
}

#enhancements {
  width: 60%;
  height: 130%;
  background-color: #dbe;
  margin: 5% 0 0 30px;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 5%;
}

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  color: white;
  padding: 10px;
}

#email-text {
  font-family: Ubuntu;
  text-align: center;
  font-size: 20px;
  margin-left: 30px;
}

#email {
  padding: 10px;
  width: 100%;
  border: 2px solid #dbe;
  border-radius: 10px;
  margin: 5px;
  font-size: 18px;
  font-family: Ubuntu;
}

.btn {
  padding: 0 20px;
  margin: 10px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.5px;
  box-shadow: 0 6px #fff;
  position: relative;
}

.btn:hover {
  box-shadow: 0 4px #fff;
  top: 2px;  
  color: #dbe;
}

.btn:active {
  border: none;
  outline: none;
  box-shadow: none;
  top: 6px;
}

@media screen and (max-width: 900px) {
  iframe {
    width: 500px;
  }
  .separator {
    margin-bottom: 20%;
  }
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  #header {
    flex-wrap: wrap;
  }
  iframe {
    width: 400px
  }
  #header-list {
    font-size: 1em;
  }
  #flight1 {
    padding: 0;
  }
  #flight2 {
    padding: 0;
  }
  #email {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  iframe {
    width: 300px;
    height: 275px;
  }
  #header-list {
    font-size: .9em;
  }
  #armory {
    padding: 0;
  }
  #enhancements {
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
   .separator {
    margin-bottom: 40%;
  }
}

@media screen and (max-width: 500px) {
  iframe {
    width: 275px;
    height: 250px;
  }
  
  #flight1 {
    margin-right: 5px;
    padding: 0;
  }
  
  #flight2 {
    margin-left: 5px;
    padding: 0;
  }
  
  #armory {
    margin-right: 10px;
    padding: 0;
  }
  
  #enhancements {
    margin-left: 10px;
    padding: 0;
  }
  #email-text {
    margin: 0;
  }
}